/*PC layout*/
.myImage1, .myImage2 {
    width: 50%;
    height: auto;
  }
  
  .myImage3 {
    width: 45%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 700px;
  }
  
  .myImage4 {
    width: 5%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 340px;
  }
  
  .myImage5 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 1050px;
    left: 90px;
  }
  
  .myImage6 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 1230px;
    left: 160px;
  }
  
  .myText6 {
    position: absolute;
    top: 1350px;
    left: 90px;
  }
  
  .myImage7 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 1230px;
    left: 530px;
  }
  
  .myText7 {
    position: absolute;
    top: 1350px;
    left: 460px;
  }
  
  .myImage8 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 1230px;
    left: 920px;
  }
  
  .myText8 {
    position: absolute;
    top: 1350px;
    left: 850px;
  }
  
  .myText0 {
    position: absolute;
    top: 1550px;
    left: 410px;
  }
  
  /*mobile rearanger*/
  @media (max-width: 768px) {
    .myImage1, .myImage2 {
      width: 100%;
      height: auto;
    }
    
    .myImage3 {
      width: 0%;
      height: auto;
      position: absolute;
      top: 10px;
      left: 700px;
    }
    
    .myImage4 {
      width: 20%;
      height: auto;
      position: absolute;
      top: 30px;
      left: 335px;
    }
    
    .myImage5 {
      width: 0%;
      height: auto;
      position: absolute;
      top: 1050px;
      left: 90px;
    }
    
    .myImage6 {
      width: 50%;
      height: auto;
      position: absolute;
      top: 730px;
      left: 100px;
    }
    
    .myText6 {
      position: absolute;
      top: 830px;
      left: 30px;
    }
    
    .myImage7 {
      width: 30%;
      height: auto;
      position: absolute;
      top: 840px;
      left: 100px;
    }
    
    .myText7 {
      position: absolute;
      top: 940px;
      left: 30px;
    }
    
    .myImage8 {
      width: 30%;
      height: auto;
      position: absolute;
      top: 950px;
      left: 100px;
    }
    
    .myText8 {
      position: absolute;
      top: 1050px;
      left: 30px;
    }
    
    .myText0 {
      position: absolute;
      top: 1550px;
      left: 130px;
    }
    
    
    }
  
  
  
  

  


